/* 
    RESET 
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*
    GENERAL
*/
.container {
    max-width: 100%;
    color: white;
}

.row {
    min-height: 50px;
}

[class*="col-"],
.col {
    border: 1px solid white;
    background-color: blue;
    text-align: center;
}

.green {
    background-color: green;
    min-height: 50px;
}

h2 {
    margin: 20px 0;
    color: black;
}

h3 {
    color: black;
}

.padding {
    padding: 10px;
}

.alt-height {
    height: 100px;
}

.space-around {
    justify-content: space-around;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

/* 
    HEADER 
*/

/* 
    MAIN 
*/

/* 
    FOOTER 
*/

/* 
    MEDIA QUERIES 
*/